{% spaceless %}
{% for operation in diff_operations %}
	{% ifequal operation.operation "replace" %}
		<del class="diff modified">{{ operation.deleted|default:"" }}</del>
		<ins class="diff modified">{{ operation.inserted|default:"" }}</ins>
	{% endifequal %}
	
	{% ifequal operation.operation "delete" %}
		<del class="diff">{{ operation.deleted|default:"" }}</del>
	{% endifequal %}
	
	{% ifequal operation.operation "insert" %}
		<ins class="diff">{{ operation.inserted|default:"" }}</ins>
	{% endifequal %}
	
	{% ifequal operation.operation "equal" %}
		<span>{{ operation.inserted }}</span>
	{% endifequal %}
{% endfor %}
{% endspaceless %}
