{% extends "admin/change_form.html" %}
{% load i18n %}
{% block extrahead %}
    <style type="text/css">
        ins, del {
            text-decoration: none;
        }

        del {
            -moz-background-clip: border;
            -moz-background-inline-policy: continuous;
            -moz-background-origin: padding;
            background: #FFCCCC none repeat scroll 0 0;
        }

        ins {
            -moz-background-clip: border;
            -moz-background-inline-policy: continuous;
            -moz-background-origin: padding;
            background: #BBFFBB none repeat scroll 0 0;
        }
    </style>
{% endblock %}

{% block object-tools %}
{% endblock %}

{% block content %}
    <form enctype="multipart/form-data" action="" method="post" id="moderatedobject_form">{% csrf_token %}


        <div>
            <fieldset class="module aligned ">
            <table border="0">
                <tr>
                    <td colspan="3">
                        <h2>{{ changeset.get_model_name }}: {{ changeset.content_object }}</h2>
                    </td>
                </tr>

                {% for change in changes %}
                    <tr class="form-row">
                        <td>
                            <label style="font-size: 14px; font-weight: bold;">{{ change.verbose_name }}</label>
                        </td>

                        <td>
                            <p style="width:800px;">{{ change.diff|safe }}</p>
                        </td>

                    </tr>
                {% endfor %}

                {% for child in children %}
                    <tr>
                        <td colspan="3">
                            <h2>{{ child.get_model_name }}: {{ child.content_object }}</h2>
                        </td>
                    </tr>

                    {% for change in child.get_changes_data.diff %}
                        <tr class="form-row">
                            <td>
                                <label style="font-size: 14px; font-weight: bold;">{{ change.verbose_name }}</label>
                            </td>

                            <td>
                                <p style="width:800px;">{{ change.diff|safe }}</p>
                            </td>

                        </tr>
                    {% endfor %}
                    {% for child1 in child.get_children %}
                        <tr>
                            <td colspan="3">
                                <h2>{{ child1.get_model_name }}: {{ child1.content_object }}</h2>
                            </td>
                        </tr>

                        {% for change in child1.get_changes_data.diff %}
                            <tr class="form-row">
                                <td>
                                    <label style="font-size: 14px; font-weight: bold;">{{ change.verbose_name }}</label>
                                </td>

                                <td>
                                    <p style="width:800px;">{{ change.diff|safe }}</p>
                                </td>

                            </tr>
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            </table>
            </fieldset>

            {% for fieldset in adminform %}
                {% include "admin/includes/fieldset.html" %}
            {% endfor %}


            <div class="submit-row">

                <input type="submit" value="Approve" name="approve"/>

                <input type="submit" value="Reject" name="reject"/>

            </div>

    </form>
    </div>

{% endblock %}





